#landing {
    height: 100%;
    width: 100%;

    .section {
        margin-top: -60px;
        text-align: center;
    }

    #teaser-section {

        .teaser-img {
            position: relative;
            width: 17%;
            left: 40%;

            &.move {
                @include transform(translate3d(65%,0,0) scale(0.8));
                @include transition(transform 0.7s ease-in-out);
            }

            img {
                width: 100%;
                height: auto;
            }

            .teaser-item {
                opacity: 0;
                @include transform(rotateX(-50deg) translate3d(0,-40px,0));
                @include transition(all 0.7s ease-in-out);

                &.show {
                    opacity: 1;
                    @include transform(rotateX(0deg) translate3d(0,0,0));
                }
            }

            .teaser-item-right {
                position: absolute;
                width: 470px;

                .teaser-indicator {
                    float: left;
                    width: 40px;
                    text-align: right;
                    margin-top: 15px;
                }

                .teaser-desc {
                    float: right;
                    width: 420px;
                    text-align: left;
                }

                .fa-circle {
                    color: $perlu-blue;
                }
            }

            .teaser-item-left {
                position: absolute;
                width: 470px;

                .teaser-indicator {
                    float: right;
                    width: 40px;
                    text-align: left;
                    margin-top: 15px;
                }

                .teaser-desc {
                    float: left;
                    width: 420px;
                    text-align: right;
                }

                .fa-circle {
                    color: $perlu-blue;
                }
            }

            .lock {
                top: 17%;
                left: 83%;
            }

            .scale {
                bottom: 85%;
                right: 40%;
            }

            .tracking {
                top: 60%;
                right: 86%;
            }

            .location {
                top: 75%;
                left: 85%;
            }
        }

        .teaser-phone {
            position: absolute;
            left: 30px;
            bottom: 30px;
            width: 27%;

            z-index: 2;

            opacity: 0;
            @include transform(translate3d(0, 100%, 0));
            @include transition(all 0.7s ease-in-out);
            &.show {
                opacity: 1;
                @include transform(translate3d(0,0,0));
            }

            .os {
                position: relative;
                top: 20px;
                font-size: em(50);

                i {
                    padding: 0 7px 0 7px;
                    cursor: pointer;

                    &:hover {
                        color: $perlu-blue;
                    }
                }
            }

            .phone-s3 {
                display: inline-block;
                position: relative;
                top: 15px;
                left: 0;

                width: 55%;
                height: auto;
            }

            .phone-iphone {
                display: inline-block;
                position: relative;
                right: 15%;

                width: 40%;
                height: auto;
            }
        }

        .teaser-quotes {
            position: absolute;
            bottom: 10px;
            height: 100px;
            width: 100%;

            z-index: 1;

            background-color: #F8F8F8;
            box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);

            opacity: 0;
            @include transform(translate3d(0, 50%, 0));
            @include transition(all 0.7s ease-in-out);
            &.show {
                opacity: 1;
                @include transform(translate3d(0, 0, 0));
            }

            .quotes {
                width: 68%;
                float: right;
                margin-top: 10px;

                .quote-item {
                    @include span-columns(4 of 12);
                    position: relative;
                    text-align: left;

                    @include transform(translate3d(0,150px,0));
                    @include transition(all 0.7s $ease-in-out-back);
                    &.show {
                        @include transform(translate3d(0,0,0));
                    }

                    .img-circle {
                        float: left;
                        width: 20%;
                    }

                    .quote-text {
                        float: left;
                        padding: 0 10px 0 10px;
                        width: 80%;
                        font-size: em(15);
                        line-height: 71px;

                        i {
                            color: $perlu-blue;
                        }
                    }

                    .quote-name {
                        position: absolute;
                        bottom: 5px;
                        left: 90px;

                        font-weight: bold;
                        font-size: em(18);
                        color: $perlu-blue;

                        display: none;
                    }
                }
            }
        }
    }

    #feature-section {

        h1 {
            margin-bottom: 100px;
            color: $perlu-white;
        }

        .features {
            width: 90%;
            margin-left: 5%;

            .feature-item {
                @include span-columns(4 of 12);
                @include omega(3n);

                height: em(270);
                margin-bottom: 20px;

                img {
                    @include span-columns(5 of 12);
                    height: 100%;
                }

                .feature-text {
                    @include span-columns(7 of 12);
                    position: relative;
                    padding: 10px;
                    margin-top: -20px;

                    text-align: left;

                    .feature-indicator {
                        position: absolute;
                        top: 5px;
                        right: 0px;

                        //padding: 7px 10px 7px 10px;
                        padding-top: 5px;
                        height: em(34);
                        width: em(34);
                        background-color: $perlu-orange;
                        color: $perlu-white;
                        text-align: center;
                    }
                }
            }
        }
        
    }

    #configurator-section {
        color: $kuck-white;

        p {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .configuration-teaser {
            margin-top: 100px;
            margin-bottom: 100px;

            .teaser-item {
                display: inline-block;
                width: 150px;
                opacity: 1;

                @include transform(translate3d(0,0,0));
                @include transition(transform 1.2s ease-in-out, opacity 0.7s ease-in-out);

                .teaser-box {
                    height: 80px;
                    width: 80px;
                    margin-left: 35px;
                    padding: 20px;
                    border: 1px solid $kuck-white;
                    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);

                    i {
                        font-size: 40px;
                    }
                }

                .teaser-desc {
                    margin-top: 10px;
                    text-align: center;
                    font-size: em(18);
                    font-weight: bold;
                }
            }
        }

        .configuration-teaser.init-animate {
            .teaser-item:nth-child(1) {
                opacity: 0;
                @include transform(translate3d(310px,0,0));
            }
            .teaser-item:nth-child(2) {
                opacity: 0;
                @include transform(translate3d(160px,0,0));
            }
            .teaser-item:nth-child(3) {
                opacity: 0;
            }
            .teaser-item:nth-child(4) {
                opacity: 0;
                @include transform(translate3d(-160px,0,0));
            }
            .teaser-item:nth-child(5) {
                opacity: 0;
                @include transform(translate3d(-310px,0,0));
            }
        }

        .configuration-start {
            margin-bottom: 250px;

            @include transform(scale(1));
            @include transition(transform 0.7s ease-in-out 1.2s, opacity 0.7s ease-in-out 1.2s);

            button {
                background-color: $kuck-blue;
                color: $kuck-white;
                border: 1px solid $kuck-white;

                font-size: em(38);
            }
        }

        .configuration-start.init-animate {
            opacity: 0;
            @include transform(scale(0.7));
        }
    }
}