/**
 * Universal section css: Used in section 1 450x900
 */
#planner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #EDEFF0;

    z-index: 1;

    .planner-progress {
        position: relative;
        width: 80%;
        margin-left: 10%;
        margin-top: 40px;
        margin-bottom: 10px;
        height: 50px;

        background-color: $perlu-white;
        z-index: 140;

        @include media($mobile) {
            width: 100%;
            margin-left: 0;
            margin-top: 15px;
        }

        .planner-progress-step {
            @include span-columns(4 of 12, $display: block-collapse);
            line-height: 50px;
            text-align: center;
            font-size: em(20);
            cursor: pointer;

            @include transition(all 1s ease-in-out);
            &.enabled {
                background-color: $perlu-blue;
                color: $perlu-white;
            }
            &:hover {
                box-shadow: 0px 17px 50px rgba(0, 0, 0, 0.19);
            }
        }
    }

    .section {
        overflow: hidden;
    }

    .planner-content {
        height: 100%;
        width: 80%;
        margin-top: -130px;
        margin-left: 10%;
        padding-top: 40px;

        @include media($mobile) {
            width: 100%;
            margin-left: 0;
            margin-top: 0;
            padding-top: 0;
        }

        .planner {
            position: relative;
            width: 100%;
            height: 80%;
            margin-top: 35px;

            @include media($mobile) {
                height: 100%;
            }

            .planner-box {
                @include span-columns(3 of 12);
                @include omega(3n);

                height: auto;

                @include media($mobile) {
                    position: absolute;
                    //@include omega-reset(3n);
                    @include span-columns(3 of 4);
                    //@include omega();
                    //
                }

                .planner-box-head, .planner-box-footer {
                    width: 100%;
                    height: 50px;
                    line-height: 50px;

                    background-color: $perlu-white;
                }

                .planner-box-head {
                    border-bottom: 3px solid $perlu-blue;

                    .planner-box-head-item {
                        @include span-columns(6 of 12, $display: block-collapse);
                        font-size: em(15);
                        text-align: center;
                        cursor: pointer;

                        &.active {
                            background-color: $perlu-blue;
                            color: $perlu-white;
                        }

                        &:hover {
                            box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
                            @include transition(box-shadow .28s cubic-bezier(0.4,0,.2,1));
                        }
                    }

                }

                .planner-box-body {
                    position: relative;
                    border-bottom: 3px solid $perlu-blue;
                    height: 40vh;
                    width: 100%;

                    background-color: $perlu-white;

                    @include media($mobile) {
                        overflow-y: scroll !important;
                        overflow-x: hidden;
                    }

                    .planner-bodx-body-item {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        float: left;
                        padding: 15px;
                        opacity: 1;

                        // use opacity as fake: "overflow: hidden"
                        @include transition(transform 0.3s $ease-in-expo, opacity 0.2s $ease-in-back);

                        &:first-child {
                            text-align: left;
                            left: 0;
                        }

                        &:nth-child(2) {
                            left: 100%;
                        }

                        &:nth-child(3) {
                            text-align: left;
                            left: 200%;
                            width: 100%;

                            .size-item {
                                @include span-columns(6 of 12);
                                @include omega(3n);
                                height: 50px;
                                margin-bottom: 10px;
                                border: 2px solid $perlu-white;
                                overflow: hidden;
                                cursor: pointer;
                                text-align: center;
                                padding: 10px;

                                @include transition(border 0.7s ease-in-out);

                                &:hover, &.active {
                                    border: 2px solid $perlu-orange;
                                }

                                img {
                                    width: 100%;
                                    height: 50px;
                                }
                            }
                        }

                        &:nth-child(4) {
                            left: 300%;
                        }

                        .item-wrapper {
                            width: 100%;
                            text-align: left;

                            .material-item {
                                width: 30%;
                                display: inline-block;
                                margin-left: 7px;
                                margin-bottom: 10px;
                                text-align: center;

                                img {
                                    border: 2px solid $perlu-white;
                                    cursor: pointer;
                                    margin-bottom: 10px;

                                    @include transition(border 0.7s ease-in-out);

                                    &:hover, &.active {
                                        border: 2px solid $perlu-orange;
                                    }
                                }
                            }
                        }
                    }
                }

                .planner-box-footer {
                    position: relative;
                    text-align: center;
                    height: 60px;

                    z-index: 1;

                    @include transform(translate3d(0,0,0));
                    @include transition(transform 0.7s $ease-in-expo);
                    &.up {
                        @include transform(translate3d(0,-60px,0));
                    }

                    button {
                        line-height: 20px;
                    }
                }

                &.planner-left {

                    @include media($mobile) {
                        @include transform(translate3d(-95%,0,0));
                        @include transition(transform 0.7s $ease-in-expo);

                        position: absolute;
                        margin-top: 25px;
                        z-index: 100;

                        &.show {
                            @include transform(translate3d(0,0,0));
                        }
                    }

                    .planner-box-body {
                        text-align: center;
                        min-height: 300px !important;

                        z-index: 2;
                    }
                }

                &.planner-right {

                    @include media($mobile) {
                        @include transform(translate3d(131.7%,0,0));
                        @include transition(transform 0.7s $ease-in-expo);

                        position: absolute;
                        margin-top: 25px;
                        z-index: 100;

                        &.show {
                            @include transform(translate3d(37%,0,0));
                        }
                    }

                    .planner-box-head {
                        font-size: em(17);
                        text-align: center;
                    }

                    .planner-box-body {
                        padding: 15px;

                        .planner-bag-items {
                            height: 100%;
                            overflow-y: scroll;

                            .planner-bag-item {
                                width: 100%;
                                overflow: auto;

                                opacity: 0;
                                @include transform(translate3d(-130px,0,0));
                                @include transition(all 0.7s ease-in-out 1s);
                                &.show {
                                    opacity: 1;
                                    @include transform(translate3d(0,0,0));
                                }

                                .planner-bag-item-img {
                                    width: 15%;
                                    height: auto;
                                    margin-left: 20px;
                                    float: left;
                                }

                                .planner-bag-item-indicator {
                                    width: 76.5%;
                                    float: left;
                                    list-style: none;
                                    font-size: em(13);
                                    padding-bottom: 10px;

                                    li {
                                        line-height: em(25);
                                        width: 100%;

                                        i {
                                            margin-top: 5px;
                                            margin-right: 10px;
                                            float: right;
                                            cursor: pointer;

                                            &:hover {
                                                color: $perlu-orange;
                                            }
                                        }
                                    }

                                    .planner-bag-item-price {
                                        border-top: 1px solid $perlu-grey;
                                        margin-top: 5px;
                                        width: 100%;

                                        span {
                                            margin-right: 10px;
                                            margin-top: 5px;
                                            float: right;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .planner-preview {
                position: relative;
                @include span-columns(6 of 12);
                text-align: center;
                display: table;
                height: 100%;

                z-index: 99;

                @include media($mobile) {
                    @include span-columns(4 of 4);
                    display: table;
                    top: -140px;
                }


                .planner-preview-content {
                    position: relative;
                    display: table-cell;
                    vertical-align: middle;

                    .fa-stack-left {
                        position: absolute;
                        left: 4%;
                        top: 13%;
                        padding: 10px;
                        color: $perlu-orange;

                        visibility: hidden;
                        @include media($mobile) {
                            visibility: visible;
                        }

                        .fa-long-arrow-right {
                            @include transition(transform 0.5s ease-in-out);
                        }

                        &.show {
                            .fa-long-arrow-right {
                                @include transform(rotate(180deg));
                            }
                        }
                    }

                    .fa-stack-right {
                        position: absolute;
                        right: 4%;
                        top: 13%;
                        padding: 10px;
                        color: $perlu-orange;

                        visibility: hidden;
                        @include media($mobile) {
                            visibility: visible;
                        }

                        .fa-long-arrow-left {
                            @include transition(transform 0.5s ease-in-out);
                        }

                        &.show {
                            .fa-long-arrow-left {
                                @include transform(rotate(180deg));
                            }
                        }
                    }

                    .planner-preview-indicator {
                        position: absolute;
                        left: 32%;
                        top: 53%;

                        z-index: 104;

                        &.show {

                            .fa-stack {
                                &:hover {
                                    .fa-pencil {
                                        color: $perlu-white !important;
                                    }
                                }
                                .fa-circle {
                                    color: $perlu-blue;
                                }
                                .fa-pencil {
                                    color: $perlu-white;
                                }
                            }

                            .planner-preview-indicator-box {
                                opacity: 1;
                                @include transform(translate3d(0,0,0));
                            }
                        }

                        .fa-stack {
                            cursor: pointer;

                            &:hover {
                                .fa-pencil {
                                    color: $perlu-blue;

                                    @include transform(scale(1.05));
                                }
                            }

                            .fa-circle {
                                color: $perlu-white;

                                z-index: 102;
                            }

                            .fa-pencil {
                                color: $perlu-grey;

                                z-index: 102;

                                @include transform(scale(0.9));
                                @include transition(transform 0.2s ease-in-out, color 0.7s ease-in-out);
                            }

                        }

                        .planner-preview-indicator-box {
                            position: absolute;
                            left: 20px;
                            top: 20px;
                            width: 330px;
                            height: 220px;
                            background-color: $perlu-white;

                            z-index: 101;

                            opacity: 0;
                            @include transform(translate3d(-20px,0,0));
                            @include transition(all ease-in-out 0.4s);

                            @include media($mobile) {
                                position: fixed;
                                top: 17%;
                                left: 14%;
                            }

                            .ionicons {
                                position: absolute;
                                right: 0;
                                padding: 5px;
                                cursor: pointer;

                                z-index: 130;

                                &:hover {
                                    color: $perlu-orange;
                                }
                            }


                            .picker-item, .picker-item-2 {
                                @include span-columns(12 of 12);
                                position: relative;
                                height: 100px;
                                background-color: $perlu-white;

                                .color-wheel-wrapper {
                                    @include transform(scale(0.3) rotate(15deg));

                                    .color-wheel {
                                        top: 130px;
                                        left: -200px;
                                        position: absolute;

                                        &.fake-select {
                                            @include transform(rotate(110deg));
                                        }
                                    }
                                }

                                .picker-desc {
                                    width: 53%;
                                    float: right;
                                    margin-top: 15px;
                                    text-align: left;

                                    span {
                                        font-weight: bold;
                                        font-size: em(18);

                                        &::before {
                                            content: "";
                                            position: absolute;
                                            width: 0;
                                            height: 0;
                                            margin-top: -5px;
                                            left: 140px;
                                            box-sizing: border-box;

                                            border: 0.7em solid $perlu-orange;
                                            border-color: transparent transparent $perlu-orange $perlu-orange;

                                            transform-origin: 0 0;
                                            transform: rotate(45deg);

                                            box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.4);
                                        }
                                    }
                                }
                            }

                            .picker-item-2 {
                                top: 40px;
                                width: 100%;

                                .ionicons {
                                    font-size: em(27);
                                    color: $perlu-orange;
                                    cursor: pointer;
                                    margin-top: -5px;
                                }

                                .ion-arrow-left-b {
                                    position: absolute;
                                    left: -0px;
                                    width: 14%;
                                    display: inline-block;
                                }

                                .ion-arrow-right-b {
                                    width: 14%;
                                    display: inline-block;
                                }

                                .picker-material-wrapper {
                                    width: 70%;
                                    //margin-left: 15%;
                                    display: inline-block;

                                    .picker-material-item {
                                        @include span-columns(2 of 12);
                                        @include omega(6n);

                                        img {
                                            height: 30px;
                                            width: 30px;
                                            border: 2px solid $perlu-white;

                                            @include transition(border 0.2s ease-in-out);

                                            &:hover {
                                                cursor: pointer;
                                                border: 2px solid $perlu-orange;
                                            }

                                            &.active {
                                                border: 2px solid $perlu-orange;
                                            }
                                        }
                                    }
                                }
                            }

                        }
                    }

                    .planner-preview-img {
                        display: inline-block;
                        position: relative;
                        width: 35%;
                        padding-bottom: 60%;
                        vertical-align: middle;
                        //overflow: hidden;

                        .svg-trolley {
                            display: block;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;

                            z-index: 99;

                            svg, path {
                                position: fixed;
                                z-index: 99;
                            }
                        }
                    }
                }
            }

            .planner-forward {
                margin-top: 20px;
                @include span-columns(12 of 12);

                @include media($mobile) {
                    display: none;
                }

                .planner-forward-price {
                    width: 100%;
                    margin-bottom: 20px;

                    h4 {
                        width: 100%;

                        span {
                            float: right;
                        }
                    }

                    div {
                        margin-left: 20%;
                        padding-top: 5px;
                        width: 80%;
                        text-align: right;
                        border-top: 1px solid $perlu-grey;
                    }
                }

                button {
                    width: 100%;
                    margin-bottom: 0px;
                }
            }

            .planner-backward {
                margin-top: 20px;
                @include span-columns(12 of 12);

                @include media($mobile) {
                    display: none;
                }
            }
        }
    }

    .planner-forward-mobile {
        position: fixed;
        bottom: 85px;
        left: 4px;
        padding-right: 40px;
        padding-left: 40px;

        z-index: 100000;
        display: none;
        @include media($mobile) {
            display: block;
        }

        .planner-forward-price {
            width: 100%;
            margin-bottom: 5px;

            h4 {
                width: 100%;

                span {
                    float: right;
                }
            }

            div {
                margin-left: 20%;
                padding-top: 5px;
                width: 80%;
                text-align: right;
                border-top: 1px solid $perlu-grey;
            }
        }

        button {
            width: 100%;
            margin-bottom: 0px;
        }
    }
}

.color-circle {
    position: relative;
    display: inline-block;
    width: 15%;
    height:0;
    padding-bottom: 15%;
    border-radius: 50%;
    margin: 10px;

    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;

    @include transition(opacity 0.7s ease-in-out);

    &:hover {
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab;

        box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
        @include transition(box-shadow .28s cubic-bezier(0.4,0,.2,1));
    }

    &:active {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }

    &.is-dragging {
        z-index: 100;
    }
}

.color-circle-small {
    width: 10%;
    padding-bottom: 10%;
}

.svg-path {
    @include transition(all 1s ease-in-out);
}


/**
 * Planner section 2: Only make changes to the css from section 1
 */
#planner-section-2 {

    .planner-box-head-item-2 {
        @include span-columns(3 of 12, $display: block-collapse);
        font-size: em(15);
        text-align: center;
        cursor: pointer;

        &.active {
            background-color: $perlu-blue;
            color: $perlu-white;
        }

        &:hover {
            box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
            @include transition(box-shadow .28s cubic-bezier(0.4,0,.2,1));
        }
    }

    .planner-preview-indicator {

        &.handle {
            left: 52% !important;
            top: 20% !important;
        }

        &.zip {
            left: 58% !important;
            top: 43% !important;
        }

        &.wheels {
            left: 35% !important;
            top: 80% !important;
        }
    }
}