<div id="intro">

    <div class="intro-wrapper z3">
        <div class="intro-box hover-orange" ng-click="ctrl.goToState('collection')">
            <div class="intro-box-content content-left">
                <img src="images/trolleys/black.png">
                <h4>Voting Gewinner Dezember 2014</h4>
            </div>
        </div>
        <div class="intro-box hover-green" ng-click="ctrl.goToState('landing')">
            <div class="intro-box-content content-right">
                Perlu-Reisen 2.0
            </div>
        </div>
        <div class="intro-box hover-green" ng-click="ctrl.goToState('collection')">
            <div class="intro-box-content content-left">
                Kollektion
            </div>
        </div>
        <div class="intro-box hover-orange" ng-click="ctrl.goToState('planner')">
            <div class="intro-box-content content-right">
                Konfigurator
            </div>
        </div>
        <div class="intro-fader">
            <div class="fader-circle circle-orange"></div>
            <div class="fader-circle circle-white"></div>
        </div>
    </div>

</div>