<div id="landing">

    <!-- Section 1 -->
    <div id="teaser-section" class="section">

        <!-- Teaser Image -->
        <div class="teaser-img" ng-class="{ 'move': ctrl.moveLeft }">
            <img src="images/trolleys/black.png">

            <!-- Lock -->
            <div class="teaser-item teaser-item-right lock" ng-class="{ 'show': ctrl.bullet.lock }">
                <div class="teaser-indicator">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="teaser-desc">
                    <h3>Intelligentes Schloss</h3>
                    Verschließe deinen Koffer mit der App, wann immer dir das sinnvoll erscheint
                </div>
            </div><!-- / Lock -->

            <!-- Tracking -->
            <div class="teaser-item teaser-item-left tracking" ng-class="{ 'show': ctrl.bullet.tracking }">
                <div class="teaser-desc">
                    <h3>Reise-Tracking</h3>
                    Dein Koffer lernt reisen und erkennt an welchen<br> Orten der Welt er sich schon überall befunden hat.
                </div>
                <div class="teaser-indicator">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div><!-- / Tracking -->

            <!-- Scale -->
            <div class="teaser-item teaser-item-left scale" ng-class="{ 'show': ctrl.bullet.scale }">
                <div class="teaser-desc">
                    <h3>Integrierte Waage</h3>
                    Auf’s Gramm genau - alles muss schnell gehen, du hast viel zu
                    spät gepackt, diese Zeiten sind vorbei!
                </div>
                <div class="teaser-indicator">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div><!-- / Scale -->

            <!-- Location -->
            <div class="teaser-item teaser-item-right location" ng-class="{ 'show': ctrl.bullet.location }">
                <div class="teaser-indicator">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="teaser-desc">
                    <h3>Standort-Locator</h3>
                    Koffer weg? Nicht mit MyPerlu! Mit der App ist es möglich den Standort des Koffers auf 1,5 Meter genau zu lokalisieren!
                </div>
            </div><!-- / Location -->
        </div><!-- / Teaser device -->

        <!-- Teaser phone -->
        <div class="teaser-phone" class="show" ng-class="{ 'show' : ctrl.moveUp }">
            <div class="os">
                <i class="fa fa-android"></i>
                <i class="fa fa-apple"></i>
                <i class="fa fa-windows"></i>
            </div>
            <div class="phone-s3">
                <div class="device-mockup s3 portrait white">
                    <div class="device">
                        <div class="screen">
                            <img src="images/app/s3-overview.png">
                        </div>
                        <div class="button">
                            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="phone-iphone">
                <div class="device-mockup iphone5 portrait black">
                    <div class="device">
                        <div class="screen">
                            <img src="images/app/iphone-map.png">
                        </div>
                        <div class="button">
                            <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Walkthrough mobil -->
        <div class="teaser-walkthrough" ng-click="ctrl.walkthrough()">
            <div class="teaser-walkthrough-wrapper">
                <img src="images/walkthrough/walktrough-1.jpg" ng-style="ctrl.slideWalkthroughTo(0)">
                <img src="images/walkthrough/walktrough-2.jpg" ng-style="ctrl.slideWalkthroughTo(1)">
                <img src="images/walkthrough/walktrough-3.jpg" ng-style="ctrl.slideWalkthroughTo(2)">
                <img src="images/walkthrough/walktrough-4.jpg" ng-style="ctrl.slideWalkthroughTo(3)">
                <img src="images/walkthrough/walktrough-5.jpg" ng-style="ctrl.slideWalkthroughTo(4)">
            </div>
        </div>

    </div><!-- / Section 1 -->

    <!-- Section 2 -->
    <div id="feature-section" class="section">
        <h1>Reisen war noch nie so schön!</h1>

        <div class="features">

            <!-- Feature scale -->
            <div class="feature-item section-box">
                <div class="feature-text">
                    <h4>Integrierte Waage</h4>
                    <p>
                    Auf’s Gramm genau - dank der integrierten, grammgenauen, Waage im Haltegriff kannst du mit einem Blick sehen was noch mit auf die
                    Reise darf.
                    </p>
                    <div class="feature-indicator">
                        <i class="fa fa-suitcase"></i>
                    </div>
                </div>
            </div>

            <!-- Feature hotspot -->
            <div class="feature-item section-box">
                <div class="feature-text">
                    <h4>Reise-Hotspot</h4>
                    <p>
                     MyPerlu ist der erste Koffer mit diesem Feature, nie wieder Langeweile unterwegs. Die Reichweite des Senders beträgt bis zu 20 Meter - auch im Kofferraum sorgt MyPerlu für gute Unterhaltung.
                    </p>
                    <div class="feature-indicator">
                        <i class="fa fa-wifi"></i>
                    </div>
                </div>
            </div>

            <!-- Feature locator -->
            <div class="feature-item section-box">
                <div class="feature-text">
                    <h4>Standort Lokator</h4>
                    <p>
                    Koffer weg? Nicht mit MyPerlu! Mit der App ist es möglich den Standort des Koffers auf 1,5
                    Meter genau zu lokalisieren, Diebstahl unmöglich!
                    </p>
                    <div class="feature-indicator">
                        <i class="fa fa-map-marker"></i>
                    </div>
                </div>
            </div>

            <!-- Feature lock -->
            <div class="feature-item section-box">
                <div class="feature-text">
                    <h4>Intelligentes Schloss</h4>
                    <p>
                    Verschließe deinen Koffer mit der App, wann immer dir das sinnvoll erscheint. Mit einem einzigen Klick rastet das Schloss ein, die lästige Schlüsselsuche oder umständliches Zahlenschloss ist damit
                    vorbei!
                    </p>
                    <div class="feature-indicator">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
            </div>

            <!-- Feature components -->
            <div class="feature-item section-box">
                <div class="feature-text">
                    <h4>Konfigurierbarkeit</h4>
                    <p>
                    Deinen Koffer gibt es in vier verschiedenen Grundausführungen, die du selbst jeweils noch individuell
                    und nach deinem Geschmack konfigurieren kannst.
                    </p>
                    <div class="feature-indicator">
                        <i class="fa fa-globe"></i>
                    </div>
                </div>
            </div>

            <!-- Feature app -->
            <div class="feature-item section-box">
                <div class="feature-text">
                    <h4>MyPerlu App</h4>
                    <p>
                    Mit deiner MyPerlu-App kannst du alle großartigen Features von deinem Smartphone steuern!
                    Mit nur einem Klick machst du deinen Koffer sicher, ferngesteuert aus großer Entfernung oder beim Einchecken am Flughafen.
                    </p>
                    <div class="feature-indicator">
                        <i class="fa fa-mobile"></i>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- / Section 2 -->

    <!-- Section 3 -->
    <div id="bestseller-section" class="section">
        <h1>Entdecke unsere Perlu-Bestseller</h1>

        <!-- Bestsellers -->
        <div class="bestseller">
            <div class="bestseller-item section-box">
                <h3>Perlu 1000 XL</h3>
                <img src="images/trolleys/black.png">
                <div class="bestseller-price">
                    300€
                </div>
            </div>
            <div class="bestseller-item section-box">
                <h3>Perlu 2000 XL</h3>
                <img src="images/trolleys/black.png">
                <div class="bestseller-price">
                    400€
                </div>
            </div>
            <div class="bestseller-item section-box">
                <h3>Perlu 3000 XL</h3>
                <img src="images/trolleys/black.png">
                <div class="bestseller-price">
                    500€
                </div>
            </div>

            <!-- Collection link -->
            <a href="#/kollektion" class="bestseller-link btn btn-main">
                Ganze Kollektion ansehen
            </a>
        </div>
    </div><!-- / Section 3 -->

    <!-- Section 4 -->
    <div id="configurator-section" class="section">

        <div class="config-teaser">
            <h1>Erstelle einen Perlu nach deinen<br> individuellen Bedürfnissen & Vorlieben!</h1>
            <div class="teaser-video box-section">
                <i class="fa fa-play-circle fa-3x"></i>
            </div>
            <div class="teaser-text">
                <p>Überlass' nichts dem Zufall und kreiere deinen persönlichen Perlu. Entscheide selbst
                über Größe, Farben, Materialien und Extras.</p>
                <button class="btn btn-main" ng-click="ctrl.goToState('planner')">Zum Konfigurator</button>
            </div>
        </div>


        <!-- Footer -->
        <div id="footer" class="section-box" ng-class="{ 'open': ctrl.isOpen }" ng-click="ctrl.toggleOpen()">

            <!-- Testimonials -->
            <div class="footer-quotes" ng-class="{ 'show' : ctrl.moveUp }">
                <div class="quotes">
                    <div class="quote-item" ng-class="{ 'show' : ctrl.testimonial.brandon }">
                        <img src="images/quotes/brandon.jpg" class="img-circle">
                        <div class="quote-text">
                            <p>
                                <i class="fa fa-quote-left"></i>You talkin' to me?<i class="fa fa-quote-right"></i>
                            <p>
                        </div>
                        <div class="quote-name">Brandon</div>
                    </div>
                    <div class="quote-item" ng-class="{ 'show' : ctrl.testimonial.svenja }">
                        <img src="images/quotes/svenja.jpg" class="img-circle">
                        <div class="quote-text">
                            <p>
                                <i class="fa fa-quote-left"></i>I love the smell of napalm in the morning<i class="fa fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="quote-name">Svenja</div>
                    </div>
                    <div class="quote-item" ng-class="{ 'show' : ctrl.testimonial.ramona }">
                        <img src="images/quotes/ramona.jpg" class="img-circle">
                        <div class="quote-text">
                            <p>
                                <i class="fa fa-quote-left"></i>I'm going to make him an offer he can't refuse<i class="fa fa-quote-right"></i>
                            </p>
                        </div>
                        <div class="quote-name">Ramona</div>
                    </div>
                </div>
            </div><!-- / Testimonioals -->

            <!-- Hover indicators -->
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-angle-down fa-stack-1x fa-inverse"></i>
            </span><!-- / Hover indicators -->

            <div class="footer-content">

                <div class="footer-sitemap footer-item">
                    <a href="#/perlu">Perlu</a>
                    <a href="#/perlu">Kollektion</a>
                    <a href="#/perlu">Konfigurator</a>
                    <a href="#/perlu">Voting</a>
                </div>
                <div class="footer-voting footer-item-large">
                    <h4>Aktuelles Voting</h4>
                    <div class="footer-voting-img">
                        <img src="images/trolleys/black.png">
                    </div>
                    <div class="footer-voting-text">
                        <h5>24.11. - 08.12.14</h5>
                        <p>
                            1. Platz<br>
                            Annas Perlu<br>
                            178 Votes
                        </p>
                        <button class="button button-orange z1 btn btn-main" ng-click="ctrl.goToState('voting')">Mitvoten</button>
                    </div>
                </div>
                <div class="footer-links footer-item">
                    <a href="#/perlu">Lieferung & Rücksendungen</a>
                    <a href="#/perlu">Zahlungsmöglichkeiten</a>
                    <a href="#/perlu">Kontakt</a>
                    <a href="#/perlu">Impressum</a>
                    <a href="#/perlu">Datenschutz</a>
                    <a href="#/perlu">AGBs</a>
                </div>
                <div class="footer-subline">
                    <div class="footer-social">
                        Perlu folgen: <i class="fa fa-facebook"></i> <i class="fa fa-twitter"></i> <i class="fa fa-github"></i>
                    </div>
                    <div class="footer-rights">
                        <i class="fa fa-copyright"></i> Perlu Alle Rechte vorbehalten
                    </div>
                </div>


            </div>
        </div><!-- / Footer -->
    </div><!-- / Section 4 -->

</div>