<div id="landing">

    <!-- Section 1 -->
    <div id="video-section" class="section">
        <video loop muted>
            <source src="images/landing.mp4" type="video/mp4">
            <source src="http://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
        </video>
    </div><!-- / Section 1 -->

    <!-- Section 2 -->
    <div id="product-section" class="section">
        <h1>Entdecke die Welt der Kuckucksuhren</h1>

        <div class="product-slider" ng-class="{ 'init-animate': ctrl.startAnimation.productSlider === false }">
            <ul>
                <li class="product-image" ng-repeat="slide in ctrl.slidesArray" style="left: {{$index * 410}}px" ng-style="ctrl.sliderTranslate({{ $index }})">
                    <img ng-src="images/watches/classic/{{ slide.name }}">
                    <div class="product-config">
                        <p class="price section-box">{{ slide.price }}€</p>
                        <p class="config section-box">Jetzt nach deinen Wünschen anpassen</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="product-slider-control">
            <input type="range" min="0" max="5" value="0" step="1" list="volsettings" ng-model="ctrl.sliderPos.index" ng-change="ctrl.sliderChange()">
            <datalist id="volsettings">
                <option ng-repeat="slide in ctrl.slidesArray">{{ $index }}</option>
            </datalist>
        </div>
        <div class="product-slider-current">{{ ctrl.sliderIndex() }}</div>
    </div><!-- / Section 2 -->

    <!-- Section 3 -->
    <div id="configurator-section" class="section">
        <h1>Bringe deine Individualität zum Ausdruck</h1>
        <p>
            Lebe das Kind in Dir aus und entdecke die Welt der Kuckucksuhren! Mit unserem Kuckucksuhren-Planer kannst<br>
            Du selbst zum Schreiner werden und deine Kuckucksuhr nach deinen eigenen Vorstellung anpassen.
        </p>

        <div class="configuration-teaser" ng-class="{ 'init-animate': ctrl.startAnimation.teaserBoxes === false }">
            <div class="teaser-item">
                <div class="teaser-box">
                    <i class="fa fa-cube"></i>
                </div>
                <div class="teaser-desc">Form</div>
            </div>
            <div class="teaser-item">
                <div class="teaser-box">
                    <i class="glyphicon glyphicon-leaf"></i>
                </div>
                <div class="teaser-desc">Material</div>
            </div>
            <div class="teaser-item">
                <div class="teaser-box">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="teaser-desc">Ausstattung</div>
            </div>
            <div class="teaser-item">
                <div class="teaser-box">
                    <i class="glyphicon glyphicon-tint"></i>
                </div>
                <div class="teaser-desc">Farbe</div>
            </div>
            <div class="teaser-item">
                <div class="teaser-box">
                    <i class="fa fa-gift"></i>
                </div>
                <div class="teaser-desc">Extras</div>
            </div>
        </div>
        <div class="configuration-start" ng-class="{ 'init-animate': ctrl.startAnimation.teaserBoxes === false }">
            <button type="button" class="button" ng-click="ctrl.startPlanning()">
                <i class="fa fa-angle-right"></i> Ich möchte jetzt zum Planer <i class="fa fa-angle-left"></i>
            </button>
        </div>


        <!-- Footer -->
        <div id="footer" class="section-box">
            <div class="footer-logo">
                <i class="fa fa-tree fa-3x"></i>
                <p>Create something <span>You</span> love</i></p>
            </div>
            <div class="footer-content">
                <div class="footer-social">
                    <!-- Facebook -->
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span><!-- / Facebook -->
                    <!-- Twitter -->
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span><!-- / Twitter -->
                    <!-- Github -->
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span><!-- / Github -->

                </div>
                <div class="footer-links">
                    <ul>
                        <li>
                            <a href="#/kontakt">Kontakt</a>
                        </li>
                        <li>
                            <a href="#/faq">FAQ</a>
                        </li>
                        <li>
                            <a href="#/jobs">Jobs</a>
                        </li>
                        <li>
                            <a href="#/impressum">Impressum</a>
                        </li>
                        <li>
                            <a href="#/datenschutz">Datenschutz</a>
                        </li>
                        <li>
                            <a href="#/agb">AGB</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- / Footer -->
    </div><!-- / Section 3 -->

</div>