<div id="planner">

    <div class="planner-content">

        <!-- Progress -->
        <div class="planner-progress z1">
            <div class="planner-progress-step enabled">
                Material
            </div>
            <div class="planner-progress-step">
                Einzelteile
            </div>
            <div class="planner-progress-step">
                Extras
            </div>
        </div>

        <!-- Planner -->
        <div class="planner">

            <!-- Planner left -->
            <div class="planner-box planner-left z1">

                <!-- Box head -->
                <div class="planner-box-head">
                    <div class="planner-box-head-item active">Farbe</div>
                    <div class="planner-box-head-item">Material</div>
                </div>

                <!-- Box body -->
                <div class="planner-box-body">
                    <div class="planner-bodx-body-item" ng-style="ctrl.slideBoxTo()">
                        <h4>Drag & Drop</h4>
                        <p>Klicken und ziehen Sie eine Farbe auf den Koffer und färben Sie die Einzelteile</p>
                    </div>
                    <div class="planner-bodx-body-item" ng-style="ctrl.slideBoxTo()">

                        <!-- Color circles -->
                        <div class="color-circle z1" ng-repeat="color in ctrl.colors" style="background-color: {{ color }}" data-color="{{ color }}"></div>

                    </div>
                    <div class="planner-bodx-body-item" ng-style="ctrl.slideBoxTo()">
                        <h4>Material</h4>
                    </div>
                </div>

                <!-- Box footer -->
                <div class="planner-box-footer" ng-class="{ 'up': !ctrl.showDesc }">
                    <button class="button button-orange" ng-click="ctrl.changeSlidePos(1)">OK</button>
                </div>
            </div>

            <!-- Planner preview -->
            <div class="planner-preview">
                <div class="planner-preview-content">
                    <div class="planner-preview-img" ng-include="'images/trolleys/trolley.svg'"></div>
                </div>
            </div>

            <!-- Planner right -->
            <div class="planner-box planner-right z1">

                <!-- Box head -->
                <div class="planner-box-head">
                    Dein Perlu
                </div>

                <!-- Box body -->
                <div class="planner-box-body">
                    <div class="planner-bag-items">
                        test
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>