<div id="planner">

    <div class="planner-content">

        <!-- Progress -->
        <div class="planner-progress z1">
            <div class="planner-progress-step enabled">
                Material
            </div>
            <div class="planner-progress-step">
                Einzelteile
            </div>
            <div class="planner-progress-step">
                Extras
            </div>
        </div>

        <!-- Planner -->
        <div class="planner">

            <!-- Planner left -->
            <div class="planner-box planner-left z1">

                <!-- Box head -->
                <div class="planner-box-head">
                    <div class="planner-box-head-item" ng-class="ctrl.isHeadActive(1)" ng-click="ctrl.changeSlidePos(1)">Farbe</div>
                    <div class="planner-box-head-item" ng-class="ctrl.isHeadActive(2)" ng-click="ctrl.changeSlidePos(2)">Material</div>
                </div>

                <!-- Box body -->
                <div class="planner-box-body">
                    <div class="planner-bodx-body-item" ng-style="ctrl.slideBoxTo(0)">
                        <h4>Drag & Drop</h4>
                        <p>Klicken und ziehen Sie eine Farbe auf den Koffer und färben Sie die Einzelteile</p>
                    </div>
                    <div class="planner-bodx-body-item" ng-style="ctrl.slideBoxTo(1)">

                        <!-- Color circles -->
                        <div class="color-circle z1" ng-repeat="color in ctrl.colors" style="background-color: {{ color }}" data-color="{{ color }}" data-part="case"></div>

                    </div>
                    <div class="planner-bodx-body-item" ng-style="ctrl.slideBoxTo(2)">

                        <!-- Size -->
                        <div class="item-wrapper">

                            <h4>Größe</h4>
                            <div class="size-item" ng-repeat="size in ctrl.sizes">
                                <img alt="{{ size }}">
                            </div>

                        </div>

                        <!-- Material -->
                        <div class="item-wrapper">

                            <h4>Material</h4>
                            <div class="material-item" ng-repeat="material in ctrl.materials">
                                <img ng-src="images/planner/material/{{ material | lowercase }}.jpg">
                                <div>{{ material }}</div>
                            </div>

                        </div>

                    </div>
                </div>

                <!-- Box footer -->
                <div class="planner-box-footer" ng-class="{ 'up': !ctrl.showDesc }">
                    <button class="button button-orange" ng-click="ctrl.changeSlidePos(1)">OK</button>
                </div>
            </div>

            <!-- Planner preview -->
            <div class="planner-preview">
                <div class="planner-preview-content">
                    <div class="planner-preview-img" ng-include="'images/trolleys/trolley.svg'"></div>
                </div>
            </div>

            <!-- Planner right -->
            <div class="planner-box planner-right z1">

                <!-- Box head -->
                <div class="planner-box-head">
                    Dein Perlu
                </div>

                <!-- Box body -->
                <div class="planner-box-body">
                    <div class="planner-bag-items">
                        test
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>